


.box{
    width: 450px;
    height: 550px;
  display: flex;
  flex-direction: column;
    border-radius: 20px;
    border: solid yellow 4px;
    box-sizing: border-box;
    min-width: 450px;
    min-height: 550px;
    max-width: 450px;
    max-height: 550px;
}



